/* google fonts links */
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital@1&family=Montserrat:wght@400;700&family=Open+Sans:ital@1&family=Poppins:wght@200;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root{
    --primary-color:#7e22ce;
    --off-white:#F3F4F6;
    --dark-gray:#687280;
}

body{
    font-family: 'Montserrat', sans-serif;

}

/* container css */
.container{
    padding: 0rem 1rem;
}

.container-center{
 max-width: 600px;
 margin: auto;

}

/* lists css */

.list-non-bullet{
 list-style:none;
}





