/* google fonts links */
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital@1&family=Montserrat:wght@400;700&family=Open+Sans:ital@1&family=Poppins:wght@200;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root{
    --bg-color:#fff;
    --primary-color:#581c87;
    --primary-heading-color:#3F3D56;
    --catch-heading:#581c87;
    --social-icon:#0000EE;  
    --btn-color:#581c87;
    
    --off-white:#d7d7d8;
    --dark-gray:#E5E5E5;
    --yellow-color:#FFFF00;
    --black-color:#000;
    --heading-color:#581c87;
    --section-text-color:#000;
}

.dark{
    --bg-color:#000000;
    --primary-color:#171717;
    --primary-heading-color:#fff;
    --catch-heading:#fff;

    --dark-gray:#FFFFFF;
    --heading-color:#FFFFFF;
    --off-white:#1A1A1A;
    --section-text-color:#fff;
}


body{
    font-family: 'Montserrat', sans-serif;
    background-color: var(--bg-color);

}

/* container css */
.container{
    padding: 0rem 1rem;
}

.container-center{
 max-width: 600px; 
 margin: auto;

}

.link{
    box-sizing: border-box;
    text-decoration: none;
    padding: 0.6rem 1rem;
    margin: 0.6rem;
}

.link-primary{
    background-color: var(--btn-color);
    border-radius: 1rem;
    color: white; 
}

.link-secondry{
    color: var(--btn-color);
    border-radius: 1rem;
    border: 1px solid var(--btn-color);
}

/* lists css */

.list-non-bullet{
 list-style:none;
}

.list-item-inline{
    display: inline;
    padding:0rem 0.5rem;
}

/* navigation css*/
.navigation{
    background-color: var(--primary-color);
    color: white;
    padding: 1rem;
    border-bottom-left-radius:1rem ;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    position: fixed;
    
}

.navigation .nav-brand{
    font-weight: bold;
    font-size: 1.1rem;
}

.navigation .link{
    color: white;
}

.navigation .link:hover{
    background-color:#b353fc;
    border-radius: 1rem;
}

.navigation .nav-pills{
    text-align: right;
}

.navigation .link-active{
    font-weight: bold;
}


/* dark mode button css */
.navigation .nav-toggle-btns .mode-btn{
    border-radius: 20px;
    width: 80px;
    height: 30px;
    border: none;
    position: relative;
}

.navigation .nav-toggle-btns .mode-btn .circle{
border-radius: 50%;
 width: 23px;
height: 23px; 
position: absolute;
top: 3px;
cursor: pointer;
}

 .light-circle{
transition: 0.3s;    
transform: translateX(-35px);
background-color:var(--yellow-color);
}

.dark-circle{
 transition: 0.3s;
transform: translateX(15px);  
background-color: var(--black-color);
}



/* header */

.header{
padding: 6rem 2rem;
 

}

.header .header-img{
    max-width: 300px;
    display:block;
    margin: auto;
    padding: 2rem 0rem;
}

.header .header-heading{
    text-align: center;
    padding-top: 1rem;
    color: var(--primary-heading-color);

}
.header .heading-inverted{
    color: var(--catch-heading);
}

.header .header-role-heading{
    text-align: center;
    color: var(--primary-heading-color);
    margin-top: 5px;
}



.social-media-links{
    text-align: center;
}

.social-links{
    text-decoration: none;
    color: var(--social-icon);
    margin: 0px 5px;
    font-size: 1.6rem;
}

/* section */

.section{
    padding: 2rem;
    margin: 2rem auto;
    border-radius: 1rem;
     text-align: center;
     width: 70%;
}

.section h1,p,a{
    padding: 0.9rem 0;
    text-align: center;
    color: var(--section-text-color);
}


.section h1{
    text-align: center;
}
.ow{
    background-color: var(--off-white);
}

/* project section */
.project-section{
    text-align: center;
    
}
.project-section ul li{
    margin: 6rem 0;
    padding: 2rem 0;
    border-radius: 1rem;
    
}
.project-section ul li h2,p,small,a{
   margin: 0.5rem 0;

}

/* blog section */
.section ul li{
    padding: 1.5rem 8rem;
    border-radius: 1rem;
}
.section ul li h2,small{
    padding: 1.5rem 0;
}

/* footer */

.footer{
    background-color: var(--primary-color);
    border-top-right-radius: 1rem;
    padding: 2rem 1rem;
    text-align: center;
    color: white;
    margin-top: 1rem;
}
.footer-heading{
    font-size: 1.5rem;
    font-weight: bold;
}

.footer .link{
    color: white;
}


.footer ul{
    padding-inline-start:0px; 
    margin-top:25px; 
} 



